::selection{
	background: $blue;
	color: $light;
}
.club-rh *::selection{
	background: $orange;
	color: $light;
}

.container{
    max-width: 1440px;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $light;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
}

.page-pt{
    @apply pt-10;
    @media screen and (min-width: $lg){
        @apply pt-16;
    }
}

// SECTION PADDING
.section-pad{
    padding-top: 5rem;
    padding-bottom: 5rem;
    @media screen and (min-width: $lg){
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    @media screen and (min-width: $xxl){
        padding-top: 9vw;
        padding-bottom: 9vw;
    }
}

.section-pad-top{
    padding-top: 5rem;
    @media screen and (min-width: $lg){
        padding-top: 8rem;
    }
    @media screen and (min-width: $xxl){
        padding-top: 9vw;
    }
}

.section-pad-bot{
    padding-bottom: 5rem;
    @media screen and (min-width: $lg){
        padding-bottom: 8rem;
    }
    @media screen and (min-width: $xxl){
        padding-bottom: 9vw;
    }
}

// BOX SHADOW
.box-shadow{
    box-shadow:0 10px 35px rgba(0,0,0,0.07);
}
.box-shadow-over{
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

// REVEAL
.reveal-std{
    transform-origin: center top;
    @apply absolute inset-0 z-20;
}
.fade{
    @apply fixed inset-0 z-20;
    pointer-events:none;
}