.btn-primary{
    @apply inline-block rounded-md relative z-10 overflow-hidden;
    font-weight: $weight-bold;
    padding: 0 50px 0 20px;
    line-height: 60px;
    box-shadow: 0 0 50px rgba(0,0,0,0.08);
    transition: color 0.2s;

    &::after{
        content:"";
        position: absolute;
        width: 15px;
        height: 13px;
        right: 20px;
        top: calc(50% - 6px);
        transition: 0.2s;
    }

    &::before{
        content: "";
        @apply block absolute w-full h-full left-0;
        z-index:-1;
        transform: translateX(-101%);
        transition: transform 0.4s $ease;
    }

    &:hover{
        &::before{
            transform: translateX(0);
        }
        &::after{
            transform:translateX(5px);
        }
    }

    &.btn-orange{
        background: $orange;
        color: $dark;
        &::after{
            background: url('./dist/img/arrow-right-dark.svg') center center no-repeat;
            background-size: 15px 13px;
        }
        &::before{
            background-color:#DA7704;
        }
        &:hover{
            color: $light;
            &::after{
                background: url('./dist/img/arrow-right-white.svg') center center no-repeat;
                background-size: 15px 13px;
            }
        }
    }

    &.btn-white{
        background: white;
        color: $dark;
        &::after{
            background: url('./dist/img/arrow-right-blue.svg') center center no-repeat;
            background-size: 15px 13px;
        }
        &::before{
            background-color: $blue;
        }
        &:hover{
            color: $light;
            &::after{
                background: url('./dist/img/arrow-right-white.svg') center center no-repeat;
                background-size: 15px 13px;
            }
        }
    }
    &.btn-white-2{
        background: white;
        color: $dark;
        &::after{
            background: url('./dist/img/arrow-right-blue.svg') center center no-repeat;
            background-size: 15px 13px;
        }
        &::before{
            background-color: $blue-over;
        }
        &:hover{
            color: $light;
            &::after{
                background: url('./dist/img/arrow-right-white.svg') center center no-repeat;
                background-size: 15px 13px;
            }
        }
    }
}

.btn-secondary{
    @apply inline-block relative bg-transparent;
    font-weight: $weight-bold;
    transition:color 0.2s;
    padding-right: 30px;

    &::after{
        content:"";
        position: absolute;
        width: 15px;
        height: 13px;
        right: 0;
        top: calc(50% - 6px);
        transition: 0.2s;
    }

    &.btn-white{
        color: $light;
        &::after{
            background: url('./dist/img/arrow-right-white.svg') center center no-repeat;
            background-size: 15px 13px;
        }
    }
    &.btn-blue{
        color: $dark;
        &::after{
            background: url('./dist/img/arrow-right-blue.svg') center center no-repeat;
            background-size: 15px 13px;
        }
    }

    &.btn-back{
        padding-left: 25px;
        &::after{
            background: url('./dist/img/arrow-right-blue.svg') center center no-repeat;
            background-size: 15px 13px;
            transform: rotate(180deg);
            right: auto;
            left: 0;
        }
        &:hover{
            &::after{
                transform: rotate(180deg) translateX(5px);
            }
        }
    }
    
    &:hover{
        &::after{
            transform: translateX(5px);
        }
    }
}