.site-footer{
    &__section-title{
        font-family: 'Roboto', sans-serif;
        @apply opacity-50 uppercase text-xs mb-5 font-medium;
    }

    &__menu{
        a{
            position: relative;
            padding: 10px 0;
            &::after{
                content: "";
                @apply block absolute w-full left-0 bg-blue;
                height: 2px;
                bottom: 5px;
                transform: scaleX(0);
                transition: transform 0.3s $ease;
            }
            &:hover{
                &::after{
                    transform: scaleX(1);
                }
            }
        }  
        &__cta {
            a{
                padding: 20px 30px;
                @apply font-bold text-left relative overflow-hidden;
                z-index:1;
                background: $blue url('./dist/img/arrow-right-white.svg') 95% center no-repeat;
                @media screen and (min-width: $lg){
                    background-image: none;
                    text-align: center;
                    padding: 15px 30px;
                    margin-top: 10px;
                }
                &::before{
                    @apply absolute w-full h-full top-0 left-0;
                    content: "";
                    background: $blue-over;
                    z-index: -1;
                    transform: translateX(-101%);
                    transition: transform 0.4s $ease;
                }
                &:hover{
                    &::before{
                        transform: translateX(0);
                    }
                }
                &::after{
                    display: none;
                }
            }
            .cta-entreprise{
                line-height: 60px;
                padding: 0 30px;
            }
        } 
        
        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @media screen and (min-width: $lg){
                display: block;
            }
            li{
                padding: 10px 0;
                @media screen and (min-width: $lg){
                    padding:0;
                    margin-bottom: 20px;
                }
            }
            li:nth-child(2n){
                text-align: right;
                @media screen and (min-width: $lg){
                    text-align: left;
                }
            }
        }
    }

    &__a-propos{
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    &__mentions{
        border-top:1px solid #83898D;
        a{
            position: relative;
            padding: 10px 0;
            &::after{
                content: "";
                @apply block absolute w-full left-0 bg-blue;
                height: 2px;
                bottom: 5px;
                transform: scaleX(0);
                transition: transform 0.4s $ease;
            }
            &:hover{
                &::after{
                    transform: scaleX(1);
                }
            }
        }  
    }

    &__icon-social{
        &:hover{
            opacity: 0.75;
        }
    }
}

.icon-social{
    &:hover{
        opacity: 0.75;
    }
}