.site-header{
    &__logo a{
        display: block;
        background: url('./dist/img/logo-exos.svg') center left no-repeat;
        background-size: 94px 28px;
        min-width: 94px;
        height: 28px;
        @media screen and (min-width: $lg){
            width: 110px;
            height: 33px;
            background-size: 110px 33px;
        }
    }
    &__cta{
        a{
            padding: 15px 20px;
            font-weight: $weight-bold;
            @apply leading-none block text-center;
            @media screen and (min-width: $sm){
                padding: 15px 30px;
            }
        }
    }
    &__burger{
        .line{
            transition:0.5s $ease;
            width: 22px;
            height: 2px;
            background-color: $dark;
            margin: 5px 0;
        }
    }
    &__nav{
        transform: translateY(-100%);
        transition: transform 1s $ease;
        @media screen and (min-width: $lg){
            transform: none;
        }

        &__main{
            li{
                padding: 3.5vh 0;
                line-height: 1;
                text-align: left;
                @media screen and (min-width: $lg){
                    padding: 0 10px;
                }
                &.current_page_item{
                    @apply text-blue;
                }
                a{
                    position: relative;
                    &::after{
                        content: "";
                        @apply block absolute w-full left-0 bg-blue;
                        height: 2px;
                        bottom: -3px;
                        transform: scaleX(0);
                        transition: transform 0.4s $ease;
                    }
                    &:hover{
                        &::after{
                            transform: scaleX(1);
                        }
                    }
                }
            }
            ul{
                @media screen and (min-width: $lg){
                    display: flex;
                    align-items: center;
                }
            }
        }
        &__social{
            transition: opacity 1s 0.5s linear;
            opacity:0;
            .icon-social{
                width: 38px;
                height: 38px;
                display: inline-block;
                text-indent: -9999px;
                margin: 10px 15px;
            }
            .icon-facebook{
                background: url('./dist/img/icon-facebook-white.svg') center center no-repeat;
                background-size: 38px 38px;
            }
            .icon-linkedin{
                background: url('./dist/img/icon-linkedin-white.svg') center center no-repeat;
                background-size: 38px 38px;
            }
        }
        &__espace-btn{
            transition: opacity 1s 0.5s linear;
            opacity:0;
            margin: 25px 30px;
            font-weight: $weight-bold;
            background: url('./dist/img/arrow-right-white.svg') center right no-repeat;
        }
    }
    &__espaces{
        a{
            transition: 0.2s;
            &:hover{
                @apply text-blue;
            }
        }
    }
}


//
// Menu Mobile Actif
//
.site-header.active{
    .site-header{
        &__logo a{
            background: url('./dist/img/logo-exos-white.svg') center left no-repeat;
            background-size: 94px 28px;
        }
        &__burger{
            .line{
                background-color: $light;
            }
            .line1 {
                transform: rotate(45deg) translate(5px, 5px);
            }
            .line3 {
                transform: rotate(-45deg) translate(5px, -5px);
            }
            .line2 {
                transform: scale(0);
            }
        }
        &__nav{
            transform: translateY(0);
            &__social{
                opacity:1;
            }
            &__espace-btn{
                opacity: 1;
            }
        }
    }
}