// HERO IMAGE FULL WIDTH
.hero-full{
    @apply bg-cover bg-center bg-no-repeat min-h-screen flex items-end text-light relative;
    padding: 120px 0 80px 0;

    @media screen and (min-width: $lg){
        min-height: auto;
        padding: 15% 0 80px 0;
        max-height: calc(100vh - 80px);
    }
    @media screen and (min-width: $xxl){
        padding: 15% 0 80px 3%;
    }

    .hero-text{
        @apply leading-relaxed my-8;
        font-weight: $weight-medium;
        @media screen and (min-width: $xxl){
            font-size: 1.15vw;
        }
    }

    .hero-title{
        @media screen and (min-width: $xxl){
            font-size: 7vw;
        }
    }

    .overlay{
        @apply absolute inset-0;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.5032387955182073) 0%, rgba(0,0,0,0) 100%);
    }

    .reveal{
        transform-origin: center top;
        @apply absolute inset-0 z-20;
    }
}


// HERO IMAGE SPLIT 1/2
.hero-split{
    @apply bg-dark text-light relative;

    @media screen and (min-width: $md){
        @apply grid grid-cols-2 items-center;
    }

    &__img{
        @apply bg-cover bg-center relative;
        padding-bottom: 80%;
        @media screen and (min-width: $md){
            padding-bottom: 90%;
        }
        .reveal{
            transform-origin: right center;
            @apply absolute inset-0 z-20;
        }
    }
    &__text{
        @apply py-16;
        @media screen and (min-width: $md){
            @apply py-10;
        }
        .container{
            @media screen and (min-width: $lg){
                @apply max-w-screen-md;
            }
        }
    }
    &.hero-split-club-rh{
        @apply bg-light text-dark;
    }

    .reveal-hero{
        transform-origin: center top;
        @apply absolute inset-0 z-20;
    }
}


// PAGES
.hero-home-candidat{
    background-image: url('./dist/img/back/hero-home-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/hero-home.jpg');
    }
}
.hero-home-entreprise{
    background-image: url('./dist/img/back/hero-home_entreprise-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/hero-home_entreprise.jpg');
    }
}
.hero-blog{
    background-image: url('./dist/img/back/hero-blog-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/hero-blog.jpg');
    }
}
.hero-interimaire{
    background-image: url('./dist/img/back/hero-interimaire-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/hero-interimaire.jpg');
    }
}
.hero-temoignages{
    background-image: url('./dist/img/back/hero-temoignages-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/hero-temoignages.jpg');
    }
}
.hero-club-rh{
    background-image: url('./dist/img/back/club-rh-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/club-rh.jpg');
    }
}
.hero-revue-talents{
    background-image: url('./dist/img/back/hero-revue-talents-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/hero-revue-talents.jpg');
    }
}
.hero-veille-juridique{
    background-image: url('./dist/img/back/hero-veille-juridique-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/hero-veille-juridique.jpg');
    }
}
.hero-webinars{
    background-image: url('./dist/img/back/hero-webinars-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/hero-webinars.jpg');
    }
}
.hero-404{
    background-image: url('./dist/img/back/404-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image: url('./dist/img/back/404.jpg');
    }
}

