.section-imgtext{
    &__img-container{
        padding-bottom: 60%;
        @apply bg-cover bg-center bg-no-repeat;

        @media screen and (min-width: $lg){
            padding-bottom: 50%;
        }
    }

    &__text-container{
        padding-top: 4rem;
        @media screen and (min-width: $lg){
            @apply w-8/12 ml-auto mr-0 relative bg-light pt-24 pl-24 pr-24;
            margin-top: -150px;
        }
    }
}

.img-locaux-01{
    background-image:url('./dist/img/back/locaux-01-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image:url('./dist/img/back/locaux-01.jpg');
    }
}
.img-locaux-02{
    background-image:url('./dist/img/back/locaux-02-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image:url('./dist/img/back/locaux-02.jpg');
    }
}
.img-equipe-01{
    background-image:url('./dist/img/back/equipe-exos-01-mobile.jpg');
    @media screen and (min-width: $lg){
        background-image:url('./dist/img/back/equipe-exos-01.jpg');
    }
}